project:
  type: website

website:
  title: "Comp Bio_Webpage_2026"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      -homeworklinks.qmd
      

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



